



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: normal;
}
body{
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: content-box;
}

header *{
    margin: 0 ;
}
header nav a,
h1,
h2,
address {
    font-family: caps;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0;
}
header nav a:nth-child(1){
    color: #181818;
}
header nav a:nth-child(1):hover{
    color: #BADC58;
}
header nav a:nth-child(2){
    color: #181818;
}
header nav a:nth-child(2):hover{
    color: #BADC58;
}
header nav a{
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 15px;
}



.main{
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

main::after{
    content: '';
    background-image: url('mtavari.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}
main::before{
    content: '';
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #181818;
    opacity: .6;
    z-index: -1;
    
}
main h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 0;
   
}
main p{
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 50px;
}
main a{
    font-family: caps;
    text-align: center;
    display: inline-block;
    padding: 15px 47px;
    background: #BADC58 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    color: #181818;
    flex-grow: 0;
}
.more{
    position: absolute;
    bottom: 140px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}


section{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    
}
section::before{
    content: '';
    background-color: #fff;
    top: -60px;
    width: 100%;
    height: 60px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    z-index: 5;
}
section::after{
    content: '';
    background-color: #fff;
    bottom: -60px;
    height: 60px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    position: absolute;
    z-index: 5;
}
section h2{
    text-align: center;
    width: 100%;
}
.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li{
    width: 308px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: calc((100% / 3) - 20px);
    padding: 5px;
}
li img{
    width: 232px;
    height: 225px;
    object-fit: cover;
    margin-bottom: 32px;
    padding: 12px;
}
li .inside h3{
    font-size: 16px;
    line-height: 18px;
    color: #181818;
    justify-self: flex-start;
    height: 37px;
}
li p{
    font-size: 10px;
    line-height: 18px;
    color: #535C68;    
}
li button{
    color: #BADC58;
    cursor: pointer;
    padding: 15px 47px;
    border: 1px solid #BADC58;
    border-radius: 10px;
    background-color: transparent;
}
li button:hover{
    color: #FFFFFF;
    background-color: #BADC58;
}
.inside{
    display: flex;
    flex-flow: column;
    flex-direction: column;
}


footer{
    height: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
    position: relative;
}
.whole-footer{
    position: relative;
    top: 123px;
    width: 100%;
}
footer::after{
    content: '';
    width: 100vw;
    position: absolute;
    background-color: #292C2F;
    z-index: -1;
    height: 100%;
}

.cont-div{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: #F59A63;
    letter-spacing: 0;
    font-style: normal;
}
.contact{
    width: 498px;
    font-family: caps;
    display: flex;
    justify-content: space-between;
    color: #F59A63;

}



  }
 
 .პროდუქცია{
    font-size: 20px;
    margin-left: 20px;
 }

.კონტაქტი{
    font-size: 20px;
}
.fa:hover {
    background-color:#999900;

}
  
.დაუყევი{
    font-size: 10px;
    margin-top: 20px;
}

.ვრცლად{
    border-color: white;
    background color: white;

}

.mastercard{
    margin-left: 30px;
}